*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #15171a;
  color: white;
  width: 100%;
  font-family: sans-serif;
}

button{
  cursor: pointer;
}

button:hover{
  opacity: .8;
  transition: all ease-in-out .3s;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.container-admin{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  height: 100vh;
  width: 100%;
}

.container-admin article{
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 600px;
  margin-top: 20px;
}

.container-admin p{
  margin-bottom: 10px;
}

.container-admin button{
  border: 0;
  margin-bottom: 12px;
  margin-right: 5px;
  padding: 7px;
  border-radius: 5px;
  
  background-color: #3366ff;
  color: white;
}

.container h1{
  font-size: 48px;
  margin-bottom: 8px;
}

.container span{
  margin-bottom: 28px;
}

.form{
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 600px;
}

.form input{
  border: 0;
  margin-bottom: 2px;
  height: 36px;
  border-radius: 5px;
  padding: 0 8px;
}
.form button{
  border: 0;
  margin-bottom: 12px;
  height: 36px;
  border-radius: 5px;
  font-size: 18px;
  background-color: #3366ff;
  color: white;
}

.form textarea {
  margin-bottom: 12px;
  border: 0;
  height: 90px;
  resize: none;
  border-radius: 5px;
  padding: 5px;
}

.form a {
color: white;
text-decoration: none;
margin: 14px 0;
font-size: 14px;
}

.error{
  color: red;
  font-size: 15px;
  margin-bottom: 12px;
}

.container-showPassword{
  display: flex;
  justify-content: space-between;
  margin: 3px 0 7px;
}

.showPassword{
  font-size: 12px;
  cursor: pointer;
}

.showPassword:hover{
  transition: all ease-in-out .3s;
  opacity: .5;
}